
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/layout.cshtml";
}

<!-- contact section -->

<section class="contact_section ">

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center d-md-block">
                    <h2>
                        İletişim
                    </h2>
                </div>
                <form action="">
                    <div class="contact_form-container">
                        <div>
                            <div>
                                <input type="text" placeholder="İsim">
                            </div>
                            <div>
                                <input type="email" placeholder="Email">
                            </div>
                            <div>
                                <input type="text" placeholder="Numara">
                            </div>
                            <div class="mt-5">
                                <input type="text" placeholder="Mesaj">
                            </div>
                            <div class="mt-5">
                                <button type="submit">
                                    GÖNDER
                                </button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="col-md-6">
                <div class="contact_img-box">
                    <img src="~/Contend/images/students.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->