
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about section -->
<section class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_img-container">
                    <img src="~/Contend/images/about.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_detail-box">
                    <h3>
                        Hakkımızda
                    </h3>
                    <p>
                        Özel ÇOSB Kreş ve Gündüz Bakım Evi 240 çocuk kapasiteli, yaklaşık 2.500 m2 kapalı alana ve 19.000 m2 açık alana sahiptir.
                    </p> <p>
    Kreşimizde her yaş grubunun kendi bünyesinde eğitim göreceği şekilde tasarlanmış 13 adet sınıfın yanı sıra drama atölyesi, kapalı ve açık oyun alanları mevcut olup öğrencilerimizin tüm ihtiyaçlarına karşılık vermektedir.
</p> <p>
    Kreşimizde öğrencilerimizin en iyi eğitimi almalarının yanı sıra güvenlikleri ve konforları açısından da tüm detaylar düşünülmüştür. Çocuklara yönelik tasarlanmış hijyenik lavabolar, yemek pişirme, servis bölümü ve yaş gruplarına göre dizayn edilmiş yemek salonları, uyku odaları, güvenlik kontrolü, yangın algılama, kamera, ses yayın sistemi, temiz hava ve klima santralleri mevcuttur.
</p> <p>
    Kreşimiz fiziksel imkanları ve profesyonel kadrosu ile 02 Nisan 2018 tarihi itibari ile hizmete girmiştir.
</p> 
                    <div class="">
                        <a href="" class="call_to-btn btn_white-border">
                            Daha Fazla
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end about section -->
