
@{
    ViewBag.Title = "Why";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- why section -->
<section class="why_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="why_img-container">
                    <img src="~/Contend/images/why.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="why_detail-box">
                    <h3>
                        Neden Biz !!
                    </h3>
                    <p>
                        Kreşimizde öğrencilerimiz doğal ortamlarında, uygun materyaller ile kendine güvenen ve değerlerine bağlı bireyler olarak yetiştirilmektedir.
                    </p> <p>
    Kreşimizde Milli Eğitim Bakanlığı Okul Öncesi Eğitim Müfredatının yanı sıra çocukların zihinsel, fiziksel, sosyal ve duygusal gelişimini de destekleyen modern eğitim yaklaşımlarından da yararlanılmaktadır.
</p> <p>
    Misyonumuz, bölgemizde yaşayan çocuklara, özdisiplin yeteneklerini geliştirmelerine ve birbirlerini tanımalarına olanak sağlayan, öğrenmede zihinsel kapasitelerini artıran, evrensel özellikleri göz ardı etmeyerek toplumun özelliklerine uyumlu bir eğitim ortamı sağlamaktır.
</p> <p>
                        Vizyonumuz, bilimsel bilgiyi ön plana çıkaran, kültürel ve sanatsal etkinliklere önem veren, yaratıcılığı destekleyen eğitim anlayışı ile bölgesel ve ulusal düzeyde bilinen ve tercih edilen bir kurum olmaktır.
                    </p>
                    <div class="">
                        <a href="" class="call_to-btn btn_white-border">
                            Daha Fazla
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end why section -->
