
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero_section ">
    <div class="top_container">
        <div class="hero-container container">
            <div class="hero_detail-box">
                <h1>
                    Her şey çocuklarımızın
                    keyifli vakit geçirebilmesi
                    için özenle hazırlandı...
                </h1>


            </div>
            <div class="hero_img-container">
                <div>
                    <img src="~/Contend/images/hero.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end header section -->

<div class="common_style">

    <!-- about section -->
    <section class="about_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_img-container">
                        <img src="~/Contend/images/about.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_detail-box">
                        <h3>
                            Hakkımızda
                        </h3>
                        <p>
                            Özel ÇOSB Kreş ve Gündüz Bakım Evi 240 çocuk kapasiteli, yaklaşık 2.500 m2 kapalı alana ve 19.000 m2 açık alana sahiptir.
                        </p> <p>
                            Kreşimizde her yaş grubunun kendi bünyesinde eğitim göreceği şekilde tasarlanmış 13 adet sınıfın yanı sıra drama atölyesi, kapalı ve açık oyun alanları mevcut olup öğrencilerimizin tüm ihtiyaçlarına karşılık vermektedir.
                        </p> <p>
                            Kreşimizde öğrencilerimizin en iyi eğitimi almalarının yanı sıra güvenlikleri ve konforları açısından da tüm detaylar düşünülmüştür. Çocuklara yönelik tasarlanmış hijyenik lavabolar, yemek pişirme, servis bölümü ve yaş gruplarına göre dizayn edilmiş yemek salonları, uyku odaları, güvenlik kontrolü, yangın algılama, kamera, ses yayın sistemi, temiz hava ve klima santralleri mevcuttur.
                        </p> <p>
                            Kreşimiz fiziksel imkanları ve profesyonel kadrosu ile 02 Nisan 2018 tarihi itibari ile hizmete girmiştir.
                        </p>

                        <div class="">
                            <a href="" class="call_to-btn btn_white-border">
                                Daha Fazla
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- end about section -->
    <!-- why section -->
    <section class="why_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="why_img-container">
                        <img src="~/Contend/images/why.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="why_detail-box">
                        <h3>
                            Neden Biz !!
                        </h3>
                        <p>
                            Kreşimizde öğrencilerimiz doğal ortamlarında, uygun materyaller ile kendine güvenen ve değerlerine bağlı bireyler olarak yetiştirilmektedir.
                        </p> <p>
                            Kreşimizde Milli Eğitim Bakanlığı Okul Öncesi Eğitim Müfredatının yanı sıra çocukların zihinsel, fiziksel, sosyal ve duygusal gelişimini de destekleyen modern eğitim yaklaşımlarından da yararlanılmaktadır.
                        </p> <p>
                            Misyonumuz, bölgemizde yaşayan çocuklara, özdisiplin yeteneklerini geliştirmelerine ve birbirlerini tanımalarına olanak sağlayan, öğrenmede zihinsel kapasitelerini artıran, evrensel özellikleri göz ardı etmeyerek toplumun özelliklerine uyumlu bir eğitim ortamı sağlamaktır.
                        </p> <p>
                            Vizyonumuz, bilimsel bilgiyi ön plana çıkaran, kültürel ve sanatsal etkinliklere önem veren, yaratıcılığı destekleyen eğitim anlayışı ile bölgesel ve ulusal düzeyde bilinen ve tercih edilen bir kurum olmaktır.
                        </p>
                        <div class="">
                            <a href="" class="call_to-btn btn_white-border">
                                Daha Fazla
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end why section -->


</div>


<!-- client section -->

<section class="client_section layout_padding">
    <h2 class="client_detail-box">
        Bilgilendirme
    </h2>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="client_img-box">
                                <img src="~/Contend/images/saglik.jfif" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="client_detail-box">
                                <h5>
                                    Sağlık
                                </h5>
                                <p>
                                    Kreşimizde donanımlı bir revirimiz mevcut olup, öğrencilerimizin sağlık ile ilgili problemlerinde
                                    ilk müdahaleyi yapabilecek tam gün hizmet veren alanında uzman bir hemşiremiz bulunmaktadır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="client_img-box">
                                <img src="~/Contend/images/beslenme.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="client_detail-box">
                                <h5>
                                    Beslenme
                                </h5>
                                <p>
                                    Yemeklerimiz uzman bir ekip tarafından hijyen kurallarına uygun olarak kreşimizin mutfağında pişirilip,
                                    çocuklarımızın yaş gruplarına uygun olarak tasarlanmış yemek salonlarında porselen tabaklar ile uygun
                                    sıcaklıklarda servis edilmektedir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="client_img-box">
                                <img src="~/Contend/images/guvenlik.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="client_detail-box">
                                <h5>
                                    Güvenlik
                                </h5>
                                <p>
                                    Kreşimiz ÇOSB sınırlarında bulunduğundan
                                    ÇOSB Güvenlik Şefliği 7/24 hizmet vermektedir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap JavaScript dosyasını ekleyin -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>



<!-- end client section -->
<!-- contact section -->

<section class="contact_section ">

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center d-md-block">
                    <h2>
                        İletişim
                    </h2>
                </div>
                <form action="">
                    <div class="contact_form-container">
                        <div>
                            <div>
                                <input type="text" placeholder="İsim">
                            </div>
                            <div>
                                <input type="email" placeholder="Email">
                            </div>
                            <div>
                                <input type="text" placeholder="Numara">
                            </div>
                            <div class="mt-5">
                                <input type="text" placeholder="Mesaj">
                            </div>
                            <div class="mt-5">
                                <button type="submit">
                                    GÖNDER
                                </button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="col-md-6">
                <div class="contact_img-box">
                    <img src="~/Contend/images/students.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->
